body {
    margin-top: 75px;
}

.swiper-container {
    height: 500px;
}

span#logo-small {
    font-size: 32px;
    font-weight: bold;
}

nav .glyphicon {
    font-size: 28px;
}

.messages {
    display:none;
}