body {
    margin-top: 75px;
    background-color: #f70d1a;
    color: #fff;
}

.swiper-container {
    height: 500px;
}

span#logo-small {
    font-size: 32px;
    font-weight: bold;
}

nav .glyphicon {
    font-size: 28px;
}

.messages {
    display:none;
}

.well {
    color: #000;
    background-color: #c0c0c0;
}

.page-logo {
    font-size: 32px;
}