body {
    margin-top: 75px;
    
}

nav,
.navbar-brand,
#navbar {
    background-color: #f70d1a !important;
    color: #fff !important;
}

/* nav li.active {
    background-color: #ff5360;
} */

.swiper-container {
    height: 575px;
}

span#logo-small {
    font-size: 32px;
    font-weight: bold;
}

nav .glyphicon {
    font-size: 28px;
}

.messages {
    display:none;
}

.well {
    color: #000;
    background-color: #eee;
}

.page-logo,
.page-title {
    font-size: 32px;
}

#page-home,
#page-login,
#page-signup {
    background-color: #b80300;
    color: #fff;
}